*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  height: 100vh;
}

a {
  text-decoration: none;
  color: white;
}

.mat-sidenav-container {
}

.mat-sidenav-content {
  overflow: hidden !important;
}

.mat-drawer-content {
  height: auto;
}

.mat-dialog-container {
  background: #0f1210de;
}
.mat-snack-bar-container {
  background: #ffffff;
}
.mat-simple-snackbar {
  color: #000000;
}

.mat-form-field {
  margin-bottom: 1.5rem;
}
