@import '~@angular/material/theming';
@include mat-core();

html,
body {
  margin: 0;
  height: 100%;
  font-family: 'Lora', serif;
}

$theme-primary: mat-palette($mat-blue-grey, 200, 500, 300);
$theme-accent: mat-palette($mat-blue-grey, 100);
$theme-warn: mat-palette($mat-red, 600);

$theme-black-theme: mat-dark-theme($theme-primary, $theme-accent, $theme-warn);

.app-default-theme {
  @include angular-material-theme($theme-black-theme);
}
