@import '~@angular/material/theming';
@include mat-core();

html,
body {
  margin: 0;
  height: 100%;
  font-family: 'Lora', serif;
}

$theme-primary: mat-palette($mat-blue-grey, 100, 200, 300);
$theme-accent: mat-palette($mat-blue-grey, 400);
$theme-warn: mat-palette($mat-red, 500);

$theme-black-theme: mat-dark-theme($theme-primary, $theme-accent, $theme-warn);
