<mat-toolbar class="toolbar">
  <mat-toolbar-row class="toolbar__row">
    <span>
      <a mat-tab-link [routerLink]="'/'">
        <moviedb-mat-icon></moviedb-mat-icon>
      </a>
    </span>
    {{ currentUser.email }}
    <span class="toolbar__row-logo">movieDB</span>
    <span class="example-spacer"></span>
    <div *ngIf="isLoggedIn && currentUser">
      <span class="toolbar__row-welcome-user">Welcome, {{ currentUser.email }}!</span>
      <span>
        <a (click)="logoutUser()">Logout</a>
      </span>
    </div>
    <span *ngIf="!isLoggedIn">
      <a [routerLink]="['/login']">Login</a>
    </span>
  </mat-toolbar-row>
</mat-toolbar>
