.sidenav-container {
  height: 100%;
  min-height: 100%;
  width: 100%;
  min-width: 100%;
  padding: 2rem 0;
  background-color: #0f1210de;

  &__popular-movies,
  &__top-rated-movies {
    text-align: center;
    border-top: 1px solid;

    &-header {
      margin-bottom: 0;
    }
  }
}
