<moviedb-spinner
  *ngIf="!(popularMovies$ | async)?.length && !(topRatedMovies$ | async)?.length; else movies"
></moviedb-spinner>

<ng-template #movies>
  <div class="movies-container">
    <mat-drawer-container class="example-container">
      <mat-drawer mode="side" opened>
        <section class="popular-movies">
          <a [routerLink]="['/', 'movies', 'popular-movies']">
            <h3 mat-subheader class="popular-movies__header">Popular Movies</h3>
          </a>
          <moviedb-mat-arrow-left></moviedb-mat-arrow-left>
        </section>
        <section class="top-rated-movies">
          <a [routerLink]="['/', 'movies', 'top-rated-movies']">
            <h3 mat-subheader class="top-rated-movies__header">Top Rated Movies</h3>
          </a>
          <moviedb-mat-arrow-left></moviedb-mat-arrow-left>
        </section>
      </mat-drawer>
      <mat-drawer-content>
        <moviedb-list-items [favoriteIDs]="favoriteMoviesIDs" [items]="popularMovies$ | async"></moviedb-list-items>
        <moviedb-list-items [favoriteIDs]="favoriteMoviesIDs" [items]="topRatedMovies$ | async"></moviedb-list-items>
      </mat-drawer-content>
    </mat-drawer-container>
  </div>
</ng-template>
