.popular-movies,
.top-rated-movies {
  &__header {
    margin-left: 2rem;
    font-size: 1.6rem;

    margin-top: 1rem;
    margin-bottom: 0;
    font-weight: normal;
    text-decoration: underline;
  }
}
