<div class="register">
  <h4 class="register-header">{{ registerFormTitle }}:</h4>
  <form [formGroup]="formGroup" class="register-form" (ngSubmit)="onSubmit(formGroup.value)">
    <mat-form-field *ngIf="formGroup.controls['email'] as email">
      <input matInput placeholder="Email" formControlName="email" type="email" />
      <mat-error *ngIf="email.hasError('required')">
        Email is required
      </mat-error>
      <mat-error *ngIf="email.hasError('pattern')">
        Email example test@test.com
      </mat-error>
    </mat-form-field>
    <mat-form-field *ngIf="formGroup.controls['password'] as password">
      <input matInput type="password" placeholder="Password" formControlName="password" />
      <mat-error *ngIf="password.hasError('required')">
        Password is required
      </mat-error>
      <mat-error *ngIf="password.hasError('pattern')">
        Only digits are allowed
      </mat-error>
      <mat-error *ngIf="password.hasError('minlength')">
        Password should be more than 5 characters
      </mat-error>
    </mat-form-field>
    <div>
      <moviedb-button [buttonText]="registerFormTitle"></moviedb-button>
    </div>
  </form>
</div>
