<moviedb-spinner *ngIf="!movieDetailsLoaded; else details"></moviedb-spinner>

<ng-template #details>
  <div class="details">
    <div class="details__poster">
      <img src="https://image.tmdb.org/t/p/w780{{ movieDetails?.imagePath }}" alt="" />
    </div>
    <div class="details__details">
      <h1 class="details__details-header">
        {{ movieDetails?.movieTitle }} ({{ movieDetails?.releaseDate | date: 'mediumDate' }})
      </h1>
      <div class="details__details-budget"><span>Budget:</span> {{ movieDetails?.budget }}</div>
      <div class="details__details-runtime"><span>Runtime:</span> {{ movieDetails?.runtime }}m.</div>
      <div class="details__details-averageVote"><span>Average Vote:</span> {{ movieDetails?.voteAverage }}/10</div>
      <div class="details__details-genres"><span>Genres:</span> {{ movieGenres?.join(', ') }}</div>
      <div class="details__details-description"><span>Overview:</span> {{ movieDetails?.description }}</div>
    </div>
  </div>
</ng-template>
