<moviedb-spinner *ngIf="isLoading | async; else movieDetails"></moviedb-spinner>
<ng-template #movieDetails>
  <div class="details">
    <div class="details__poster">
      <img src="https://image.tmdb.org/t/p/w500{{ (movieDetails$ | async)['movieDetails']?.imagePath }}" alt="" />
    </div>
    <div class="details__details">
      <h1 class="details__details-header">
        {{ (movieDetails$ | async)['movieDetails']?.movieTitle }} ({{
          (movieDetails$ | async)['movieDetails']?.releaseDate | date: 'mediumDate'
        }})
      </h1>
      <div class="details__details-budget">
        <span>Budget:</span> {{ (movieDetails$ | async)['movieDetails']?.budget }}
      </div>
      <div class="details__details-runtime">
        <span>Runtime:</span> {{ (movieDetails$ | async)['movieDetails']?.runtime }}m.
      </div>
      <div class="details__details-averageVote">
        <span>Average Vote:</span> {{ (movieDetails$ | async)['movieDetails']?.voteAverage }}/10
      </div>
      <div class="details__details-genres" *ngFor="let item of (movieDetails$ | async)['movieDetails']?.genres">
        <span>Genres:</span> {{ item.name }}
      </div>
      <div class="details__details-description">
        <span>Overview:</span> {{ (movieDetails$ | async)['movieDetails']?.description }}
      </div>
    </div>
  </div>
</ng-template>
