.close-button {
  display: flex;
  flex-direction: row-reverse;
  color: #ffffff;
  cursor: pointer;
}
.movie-details {
  text-align: center;
  color: #ffffff;

  &__description {
    width: 70%;
    margin: 0 auto;
  }
}
