<div class="flipcard">
  <div class="flipcard_front">
    <img src="{{ imagePath }}" alt="movie" />
  </div>
  <div class="flipcard_back">
    <div class="flipcard_description">
      <h3 class="flipcard_description-header">{{ movie.title }}</h3>
      <div class="flipcard_description-buttons">
        <button class="flipcard_description-btn" (click)="onClicked()" type="button">View Details</button>
        <i class="material-icons" (click)="addToFavorites()" *ngIf="!isInFavorites">
          favorite_border
        </i>
        <i class="material-icons" *ngIf="isInFavorites">
          favorite
        </i>
      </div>
    </div>
  </div>
</div>
