.flipcard {
  margin: 25px auto;
  height: 350px;
  width: 240px;
  position: relative;
  perspective: 700px;
  transform-style: preserve-3d;
  text-align: center;

  &_front,
  &_back {
    backface-visibility: hidden;
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    transition: all 0.5s ease;
  }

  &_front {
    position: relative;
    transform: translate(-50%, -50%) rotateY(0deg);
    background-size: 100% 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;

    &:hover {
      transform: translate(-50%, -50%) rotateY(180deg);
    }
    & img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: auto;
    }
  }

  &_back {
    position: absolute;
    transform: translate(-50%, -50%) rotateY(180deg);
    color: white;
    background: linear-gradient(
      120deg,
      rgb(100, 100, 110),
      rgb(20, 30, 30) 20%,
      rgb(20, 30, 30) 80%,
      rgb(100, 100, 110)
    );

    &:hover {
      transform: translate(-50%, -50%) rotateY(360deg);
    }
  }

  &_description {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    padding: 0.3rem 0.6rem;
    overflow: auto;

    &-header {
      color: #c6a869;
    }
    &-buttons {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      margin-top: 12rem;
    }

    & i {
      cursor: pointer;
    }
  }
}
.flipcard:hover .flipcard_front {
  transform: translate(-50%, -50%) rotateY(180deg);
}

.flipcard:hover .flipcard_back {
  transform: translate(-50%, -50%) rotateY(360deg);
}
