.login {
  height: 100vh;
  max-width: 550px;
  margin: 0 auto;

  &-header {
    font-size: 2rem;
  }

  &-form {
    display: flex;
    flex-direction: column;
  }
}

.mat-form-field-wrapper {
  margin-bottom: 1.5rem;
}
