<div class="login">
  <h4 class="login-header">Log in:</h4>
  <form [formGroup]="formGroup" class="login-form" (ngSubmit)="onSubmit(formGroup.value)">
    <mat-form-field *ngIf="formGroup.controls['username'] as usernameControl">
      <input matInput placeholder="Username" formControlName="username" type="text" />
      <mat-error *ngIf="usernameControl.hasError('required')">
        Email is required
      </mat-error>
    </mat-form-field>
    <mat-form-field *ngIf="formGroup.controls['password'] as passwordControl">
      <input matInput type="password" placeholder="Password" formControlName="password" />
      <mat-error *ngIf="passwordControl.hasError('required')">
        Password is required
      </mat-error>
      <mat-error *ngIf="passwordControl.hasError('pattern')">
        Only digits are allowed
      </mat-error>
      <mat-error *ngIf="passwordControl.hasError('passwordLength')">
        {{ passwordControl.getError('passwordLength').message }}
      </mat-error>
    </mat-form-field>
    <div>
      <moviedb-button [buttonText]="loginFormTitle"></moviedb-button>
    </div>
  </form>
</div>
