.close-button {
  display: flex;
  flex-direction: row-reverse;
  color: #000000;
  cursor: pointer;
}
.movie-details {
  text-align: center;
  color: #000000;

  &__description {
    width: 70%;
    text-align: start;
    margin: 0 auto;
  }
}

.view-more {
  margin-top: 1rem;
}
